@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white
    url(https://media.istockphoto.com/photos/code-picture-id182465097) no-repeat
    fixed top center;
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem 
  font-weight: 300;

}

h1 {
  font-weight: 300;
  margin: 1rem 0;
  padding-left: 3rem;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
    padding: 1.5rem;
}

nav {
    padding-right: 3rem;
}

header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.326);
  display: flex;
  justify-content: space-between;
}

ul li:last-child {
    padding-right: 0;
}
